 <p class="font-bold text-2xl">Departments</p>
 <!-- Department Table -->
 <div class="overflow-x-auto shadow-md sm:rounded-lg my-10">
   <table class="w-full text-sm text-left rtl:text-right text-gray-500 table-auto">
       <thead class="text-xs text-gray-700 uppercase bg-gray-200">
           <tr>
               <th scope="col" class="px-6 py-3">
                   Name
               </th>
               <th scope="col" class="px-6 py-3">
                   Company Name
               </th>
               <th scope="col" class="px-6 py-3 text-center">
                   Action
               </th>
           </tr>
       </thead>
       <tbody>
       <% if @departments.empty? %>
         <!-- Show this row if there are no employees -->
         <tr class="bg-white border-b">
           <td colspan="5" class="px-6 py-4 text-center text-gray-500">
             There is no company.
           </td>
         </tr>
       <% else %>
         <% @departments.each do |department| %>
           <tr class="bg-white border-b">
             <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
               <%= department.name %>
             </th>
             <td class="px-6 py-4">
               <%= department.company.name %>
             </td>
             <td class="flex px-6 py-4 text-center justify-center">
               <%= link_to "Edit", edit_chitoge_department_path(department), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none" %>
               <button data-id="<%= department.id %>" data-type="departments" class="delete-button focus:outline-none text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
                 Delete
               </button>
             </td>
           </tr>
         <% end %>
       <% end %>
       </tbody>
   </table>
 </div>
