<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing leave request</h1>

  <%= render "form", leave_request: @leave_request %>

  <%= link_to "Show this leave request", @leave_request, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to leave requests", leave_requests_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
