#employeeForm {
    position: fixed;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
    transition: top 0.4s ease-out; 
    border-radius: 20px;
  }
  
  #employeeForm.show {
    top: 50%; 
    transform: translate(-50%, -50%);
  }
  
  @media (max-width: 768px) {
    #employeeForm {
      width: 100%;
      max-width: 100%; 
      left: 0;
      transform: translateX(0); 
    }
  
    #employeeForm.show {
      top: 0%;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 480px) {
    #employeeForm.show {
      top: 0%; 
    }
  }
  